*{
  margin-left: 12px;
  margin-top: 0;
  margin-right: 0;
  font-family: Work Sans;
}
/* header styles */
.header{
  text-align: right;
  padding-bottom: 140px;
}

/* banner */
.banner{
  width: 100%;
  height: 810px;
  border: 0;
  background-image: url('../images/banner/banner2.png');
  background-repeat: no-repeat;
  background-position:center;
}
/* banner title styles*/
.banner .banner-title{
  width: 525px;
  height: 228px;
  color: #151414;
  font-size: 65px;
  font-weight: 700;
  padding-left: 870px;
  padding-top: 216px;
  padding-bottom: 24px;
}
/* banner-description styles*/
.banner .banner-description{
  width: 494px;
  height: 78px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  padding-left: 890px;
  padding-bottom: 32px;
}
/* Banner button styles */

.banner .banner-button .btn-primary{
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background: #F15B22;
  margin-right: 200px;
  border: 0;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  margin-right: 250px;
}
/* main */

/* past year section style */
.past-year-section{
  width: 1300px;
  height: 850px;
  background: #FFF;
  border: 0;
  margin-left: 150px;
  padding-bottom: 110px;
  
}
.past-year{
  display: flex;
  gap: 180px;
}
.past-year .past-year-image{
  width: 450px;
  height: 800px;
  margin: 0;
}
.past-year .past-year-fault{
  margin-top: 360px;
}
.past-year .past-year-fault-title{
  width: 288px;
  height: 94px;
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 24px;
}
.past-year .past-year-fault-description{
  width: 416px;
  height: 104px;
  color: #444343;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 16px;
}
.past-year .past-year-fault .fault-lists{
  list-style: none;
}
.past-year .past-year-fault .fault-lists .check-sign{
  color: #16D887;
  width: 34px;
  height: 34px;
}
.past-year .past-year-fault .fault-lists .fault-list-item{
  color: #444343;
  font-size: 20px;
  font-weight: 400;
}

/* my plan section styles */
.plan-section{
  width: 1300px;
  height: 300px;
  background: #FFF;
  border: 0;
  margin-left: 150px;
  padding-bottom: 120px;
}
.plan-section-title{
  text-align: center;
  height: 48px; 
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 50px;
}
.my-plans{
  display: flex;
  justify-content:space-around;
}
.my-plans .plan-item .plan-item-image{
  width: 93px;
  height: 93px;
  padding-bottom: 25px;
}
.my-plans .plan-item .plan-item-title{
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.my-plans .plan-item .plan-item-description{
  color: #737272;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

/* Future Target styles */
.target-section{
  width: 1300px;
  height: 300px;
  background: #FFF;
  border: 0;
  margin-top: 120px;
  margin-left: 150px;
  padding-bottom: 120px;
}
.target-section-title{
  text-align: center;
  height: 48px; 
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 50px;
}
.my-target{
  display: flex;
  justify-content: space-around;
}
.my-target .target-item .target-item-image{
  width: 93px;
  height: 93px;
  padding-bottom: 30px;
}
.my-target .target-item .target-item-title{
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.my-target .target-item .target-item-description{
  color: #737272;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

/* focus section styles */
.focus-section{
  width: 1140px;
  height: 300px;
  border: 0;
  margin-left: 200px;
  margin-top: 120px;
  background-image: url('../images/gradient2.png'), url('../images/watch.png');
  background-repeat: no-repeat;
}
.focus .focus-title{
  width: 460px;
  height: 94px;
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  padding-top: 60px;
  padding-left: 64px; 
}
.focus .focus-button{
  padding-left: 60px;
}
.focus .focus-button .focus-btn-primary{
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background: #FFF;
  border: 0;
  color: #F15B22;
  font-size: 20px;
  font-weight: 600;
}

/* footer styles */
.footer-section{
  width: 100%;
  height: 577px;
  background: #151414;
  margin-top: 120px;
}
.footer{
  display: flex;
  justify-content: space-between;
}
.footer .contact .contact-title{
  width: 148px;
  height: 53px;
  padding-top: 130px;
  padding-left: 230px;
  /* padding-bottom: 16px; */
  color: #F8F8F8;
  font-size: 45px;
  font-weight: 700;
}
.footer .contact .contact-description{
  width: 485px;
  height: 78px;
  color: #FFF;
  padding-left: 230px;
  font-size: 16px;
  font-weight: 400;
}
.footer .contact .contact-email{
  color: #FFF;
  padding-left: 230px;
  font-size: 16px;
  font-weight: 400;
}
.footer .contact .contact-phone{
  color: #FFF;
  padding-left: 230px;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}
.footer .contact .social-site{
  display: flex;
  gap: 10px;
  padding-left: 210px;
}
.footer .subscribe .subscribe-title{
  width: 123px;
  height: 30px;
  color: #FFF;
  font-size: 25px;
  font-weight: 600;
  padding-top: 130px;
  padding-right: 431px;
}
.footer .subscribe .subscribe-email input[type="email"]{
  width: 300px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #FFF;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
  background: #151414;
  padding-left: 21px;
}
.footer .subscribe .subscribe-btn{
  width: 170px;
  height: 64px;
  border-radius: 8px;
  background: #FFF;
  color: #F15B22;
  font-size: 20px;
  font-weight: 600;
}