*{
  margin-left: 12px;
  margin-top: 0;
  margin-right: 0;
  font-family: Work Sans;
}
/* header styles */
.header{
  text-align: right;
  padding-bottom: 140px;
}

/* banner */
.banner{
  width: 1600px;
  height: 810px;
  border: 0;
  background-image: url('../images/banner/banner2.png');
  background-repeat: no-repeat;
  background-position: center;
}
/* banner title styles*/
.banner .banner-title{
  width: 525px;
  height: 228px;
  color: #151414;
  font-size: 65px;
  font-weight: 700;
  padding-left: 870px;
  padding-top: 216px;
  padding-bottom: 24px;
}
/* banner-description styles*/
.banner .banner-description{
  width: 494px;
  height: 78px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  padding-left: 890px;
  padding-bottom: 32px;
}
/* Banner button styles */

.banner .banner-button .btn-primary{
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background: #F15B22;
  margin-right: 200px;
  border: 0;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}
/* main */
/* past year section style */
.past-year-section{
  width: 1300px;
  height: 850px;
  background: #FFF;
  border: 0;
  margin-left: 150px;
  padding-bottom: 110px;
  
}
.past-year{
  display: flex;
  gap: 180px;
}
.past-year .past-year-image{
  width: 450px;
  height: 800px;
  margin: 0;
}
.past-year .past-year-fault{
  margin-top: 360px;
}
.past-year .past-year-fault-title{
  width: 288px;
  height: 94px;
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 24px;
}
.past-year .past-year-fault-description{
  width: 416px;
  height: 104px;
  color: #444343;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 16px;
}
.past-year .past-year-fault .fault-lists{
  list-style: none;
}
.past-year .past-year-fault .fault-lists .check-sign{
  color: #16D887;
  width: 34px;
  height: 34px;
}
.past-year .past-year-fault .fault-lists .fault-list-item{
  color: #444343;
  font-size: 20px;
  font-weight: 400;
}

/* my plan section styles */
/* .plan{
  width: 1300px;
  height: 300px;
  background: #FFF;
  border: 1px solid red;
  margin-left: 150px;
  padding-bottom: 110px;
} */

